### 任务1：去除重复行

In [9]:
# -*-coding: utf-8 -*-
import pandas as pd
import numpy as np

jobs_csv=pd.read_csv("houses.csv")
jobs_csv=jobs_csv.drop_duplicates()
jobs_csv

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
0,0,5dd2198f18bba2b4a9a0b854,大华电梯两房/房型正气/开门南北通/房东诚意出售,690.0,76531,大华锦绣华城(十六街区)(公寓),90.16,2010,2室2厅,南,简装,中楼层(共18层),板楼,浦东,北蔡
1,1,5dd2198f18bba2b4a9a0b855,非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正,330.0,52290,芳雅苑,63.11,1995,2室1厅,南,精装,低楼层(共6层),板楼,浦东,北蔡
2,2,5dd2198f18bba2b4a9a0b856,满五唯一+7号线锦绣路+复式房+带阁楼+小区央位+精装,500.0,62878,锦博苑,79.52,2007,2室2厅,南,精装,高楼层(共6层),板楼,浦东,北蔡
3,3,5dd2198f18bba2b4a9a0b857,13号线陈春路地铁400米中间楼层诚意卖看房方便,330.0,45866,鹏海小区,71.95,1997,2室1厅,南,简装,中楼层(共6层),板楼,浦东,北蔡
4,4,5dd2198f18bba2b4a9a0b858,朝阳正气一房，采光好，坐看花园，户型方正，看房方便,460.0,83942,万邦都市花园,54.80,2004,1室1厅,南,简装,中楼层(共11层),板楼,浦东,北蔡
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69649,96117,5ddbc9f0b5aadfc07d6d5d19,满五唯一 精装修 东边套窗户全明 顶楼带阁楼和露台,470.0,51894,美兰湖岭域,90.57,2010,3室1厅,东 南 北,精装,高楼层(共6层),板楼,宝山,罗店
69650,96118,5ddbc9f0b5aadfc07d6d5d1a,美兰湖颐景园 2室2厅 276万,276.0,32838,美兰湖颐景园,84.05,2007,2室2厅,南,精装,低楼层(共5层),板楼,宝山,罗店
69651,96136,5ddbc9f2b5aadfc07d6d5d2c,罗南二村 2室1厅 175万,175.0,25061,罗南二村,69.83,1996,2室1厅,南,简装,高楼层(共6层),板楼,宝山,罗店
69652,96141,5ddbc9f2b5aadfc07d6d5d31,五楼低总价，两房朝南，满五唯一，格局好，配套齐全,185.0,26493,罗南二村,69.83,1996,2室1厅,南,简装,高楼层(共6层),板楼,宝山,罗店
69653,96157,5ddbc9f2b5aadfc07d6d5d41,满五唯一，带电梯，精装修近地铁，户型方正楼层好,368.0,39983,美兰湖岭域,92.04,2010,2室2厅,南,精装,中楼层(共6层),板楼,宝山,罗店

### 任务2：数目统计

In [13]:
"""
总房源数量、总小区数量、总版块数量
"""

print("总房源数量: %d" % len(jobs_csv['title'].drop_duplicates()))
print("总小区数量: %d" % len(jobs_csv['xiaoqu_name'].drop_duplicates()))
print("总版块数量: %d" % len(jobs_csv['sub_district_name'].drop_duplicates()))

总房源数量: 65596
总小区数量: 8333
总版块数量: 165

### 任务3：类别统计

In [17]:
"""
不同的户型
不同的装修情况
不同的建造年份
"""

print(jobs_csv.huxing.unique())
print(jobs_csv.zhuangxiu.unique())
print(jobs_csv.buildyear.unique())

['2室2厅 ' '2室1厅 ' '1室1厅 ' '4室3厅 ' '3室1厅 ' '3室2厅 ' '4室2厅 ' '1室2厅 ' '2室0厅 '
 '5室1厅 ' '1室0厅 ' '5室3厅 ' '5室2厅 ' '4室1厅 ' '4室4厅 ' '6室3厅 ' '5室6厅 ' '6室2厅 '
 '5室4厅 ' '7室3厅 ' '3室3厅 ' '9室2厅 ' '7室2厅 ' '7室1厅 ' '6室4厅 ' '6室1厅 ' '8室4厅 '
 '3室0厅 ' '7室4厅 ' '7室5厅 ' '4室5厅 ' '9室6厅 ' '9室4厅 ' '6室5厅 ' '10室1厅 ' '4室0厅 '
 '8室1厅 ' '9室3厅 ' '9室9厅 ' '5室5厅 ' '8室3厅 ' '2室3厅 ' '7室6厅 ' '8室2厅 ' '0室0厅 '
 '6室6厅 ' '10室6厅 ' '2室4厅 ' '6室0厅 ' '10室2厅 ' '7室0厅 ' '3室4厅 ' '8室5厅 '
 '10室3厅 ' '5室0厅 ' '3室5厅 ']
[' 简装 ' ' 精装 ' ' 毛坯 ' ' 其他 ']
[2010 1995 2007 1997 2004 1994 2011 2012 1998 2013 1999 2016 2000 2005
 1996 2003 2015 2006 2009 1993 2002 2014 1992 2008 2001 2019 2018 1987
 1991 2017 1989 1988 1982 1983 1984 1981 1985 1977 1986 1990 1979 1980
 1953 1976 1958 1978 1969 1974 1975 1955 1971 1954 1956 1959 1968 1964
 1960 1967 1972 1961 1973 1936 1911 1941 1948 1949 1939 1933 1940 1946
 1937 1910 1945 1957 1965 1966 1970 1963 1950 1962 1930 1920 1947 1938
 1934 1935 1921 1926 1912 1924 1928 1931 1943 1900 1952 1951]

### 任务4：计算每平米均价

In [19]:
print("上海房产每平米均价：%f" % jobs_csv['up_price'].mean())

上海房产每平米均价：55051.480906

### 任务5：流行的户型

In [35]:
"""
请统计出不同户型对应的房源数量、平均面积；
并从大到小进行排序，判断出主流户型是什么？平均面积多大？
（任务提示：以 huxing 为分组对象，展示 size 列，统计户型数量和 size 平均数。）
"""

area = pd.DataFrame(jobs_csv[['title','size']].groupby(jobs_csv['huxing']).agg(['count','mean']))
area.sort_values(by=[('size', 'count')],ascending=False)

         size
        count         mean
huxing
2室1厅    17364    66.915066
2室2厅    12990    93.016552
3室2厅    12618   129.362787
1室1厅    12103    46.955651
4室2厅     3613   208.867312
3室1厅     3451    91.561336
1室0厅     1914    36.206541
2室0厅     1369    49.615223
1室2厅     1192    67.410990
5室2厅      855   286.614175
5室3厅      584   360.780565
4室3厅      566   272.177951
6室3厅      181   395.391215
6室2厅      147   289.408435
4室1厅      145   154.547586
3室3厅      134   175.504030
3室0厅      107    68.571869
5室4厅       51   403.056667
6室4厅       49   516.186122
7室3厅       36   461.077222
5室1厅       32   225.869375
7室2厅       30   310.042667
4室4厅       21   265.587143
6室1厅       11   170.230909
7室4厅        9   535.334444
8室2厅        9   366.875556
2室3厅        8   118.597500
6室5厅        7   669.482857
8室3厅        6   474.710000
7室5厅        5   532.396000
8室4厅        5   622.384000
9室2厅        4   757.650000
0室0厅        4   237.622500
9室4厅        3   409.463333
4室0厅        3   192.590000
5室6厅        3   344.720000
6室0厅        2   504.425000
5室5厅        2   334.585000
9室6厅        2   473.775000
7室1厅        2   177.200000
7室6厅        2   406.005000
2室4厅        1   129.400000
9室3厅        1   593.010000
10室2厅       1   370.000000
8室5厅        1  1663.100000
10室3厅       1   598.320000
10室6厅       1   473.610000
3室4厅        1    94.370000
8室1厅        1   386.170000
3室5厅        1   376.210000
4室5厅        1   321.000000
7室0厅        1   161.440000
6室6厅        1  1440.160000
5室0厅        1    89.600000
10室1厅       1   544.990000
9室9厅        1  1352.240000

### 任务6：每个小区的房源数量

In [42]:
"""
获取每个小区的房源数量，并按从大到小的顺序排序
"""

title = pd.DataFrame(jobs_csv[['title']].groupby(jobs_csv['xiaoqu_name']).count())
title.sort_values(by=['title'],ascending=False)

             title
xiaoqu_name
上海康城           216
同润菲诗艾伦         117
中远两湾城          114
美岸栖庭(公寓)       106
金地艺境(宝山)       106
...            ...
莘西路122弄          1
莘浜路285弄          1
莘浜路217弄          1
莘浜路157弄          1
止园小区             1

[8333 rows x 1 columns]

### 任务7：每个小区均价

In [45]:
price = pd.DataFrame(jobs_csv[['up_price']].groupby(jobs_csv['xiaoqu_name']).mean())
price.sort_values(by=['up_price'],ascending=False)

                  up_price
xiaoqu_name
常熟路182号      527406.000000
良友别墅         393443.000000
霞飞别墅         369767.000000
复兴西路299弄     356385.666667
兴国路322号      318560.500000
...                    ...
御景龙庭玲珑公馆      13226.000000
临潮二村          13093.000000
华鼎大楼          13055.000000
万寿新村(金山)      12680.000000
石化一村          12144.000000

[8333 rows x 1 columns]

### 任务8：二手房总价前五

In [47]:
jobs_csv.sort_values(by=['price'],ascending=False).head(5)

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
46396,48887,5dd22309303c5558c090e6d9,花园18亩 开门见3座山 背面靠山 南东2面临天然大河,35000.0,191890,世茂佘山庄园,1823.97,2008,6室3厅,南,毛坯,2层,板楼,松江,佘山
46451,48943,5dd22309303c5558c090e711,仟万精装、华庭岛屿大独栋！5亩占地、自住！价格可谈,30000.0,189672,佘山高尔夫郡,1581.68,2009,6室3厅,南 北,精装,2层,板楼,松江,佘山
18891,19869,5dd21bf518bba2b4a9a1061f,罕见！占地10亩庄园，整个园区的King！让上海都在仰望,30000.0,156613,绿城玫瑰园,1915.56,2013,6室4厅,南,毛坯,2层,板楼,闵行,马桥
28332,29721,5dd21d0718bba2b4a9a12cb3,安福路/常熟路 沿街独幢花园洋房，英式风格 地价已补,24999.0,527406,常熟路182号,474.00,1937,6室3厅,南,精装,低楼层(共3层),板塔结合,徐汇,衡山路
18875,19853,5dd21bf418bba2b4a9a1060f,（岛宅主推）占地8亩上产证 两面邻水靠大河 景观位置,21000.0,128214,绿城玫瑰园,1637.89,2014,6室4厅,南,毛坯,2层,板楼,闵行,马桥

### 统计每十年的房源数量

In [55]:
jobs_csv.buildyear = pd.to_datetime(jobs_csv.buildyear,format="%Y")
title = pd.DataFrame(jobs_csv[['title']].groupby(jobs_csv['buildyear']).count())
title.resample('10A').sum()

            title
buildyear
1900-12-31      1
1910-12-31      1
1920-12-31      7
1930-12-31     36
1940-12-31    112
1950-12-31     40
1960-12-31    425
1970-12-31    234
1980-12-31   1282
1990-12-31   8536
2000-12-31  23747
2010-12-31  25136
2020-12-31  10097